Client_PostePostulant/Connected Services/ServiceReferenceCandidate/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFRestFul_Postulant" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFRestFul_Postulant" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Postulant">
    <xs:sequence>
      <xs:element minOccurs="0" name="Courriel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Langages" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Postulant" nillable="true" type="tns:Postulant" />
  <xs:complexType name="ArrayOfPostulant">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Postulant" nillable="true" type="tns:Postulant" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPostulant" nillable="true" type="tns:ArrayOfPostulant" />
</xs:schema>