Client_PostePostulant/Connected Services/ServiceReferenceCandidate/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51034/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFRestFul_Postulant" />
  <xs:element name="GetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFRestFul_Postulant" minOccurs="0" name="GetByIdResult" nillable="true" type="q1:Postulant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFRestFul_Postulant" minOccurs="0" name="GetAllResult" nillable="true" type="q2:ArrayOfPostulant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByLangages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nbMatch" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lPostes" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByLangagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFRestFul_Postulant" minOccurs="0" name="GetByLangagesResult" nillable="true" type="q3:ArrayOfPostulant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Count">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFRestFul_Postulant" minOccurs="0" name="postulant" nillable="true" type="q4:Postulant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFRestFul_Postulant" minOccurs="0" name="postulant" nillable="true" type="q5:Postulant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>